<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voter Client</title>
</head>
<body>
<h1>Voter Client for Polling Service</h1>
<div id="listCandidates">
    <h2>Candidates on the ballot</h2>
    <button type="button" onclick="listCandidates()">List all Candidates</button>
    <button type="button" onclick="hideElement('allCandidates')">Hide Candidates</button>
    <pre id="allCandidates" style="white-space: pre-wrap"></pre>
    <hr style="border-top: 0.2rem solid gray">
</div>
<div id="voterIdentity">
    <h2>Voter Identity</h2>
    <table>
        <tr>
            <td>Membership ID<strong>*</strong></td>
            <td><input id="membershipId" value="6301575634406752"></td>
        </tr>
        <tr>
            <td>Name<strong>*</strong></td>
            <td><input id="name" value="Sarah MARTIN"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input id="age" value=60></td>
        </tr>
        <tr>
            <td>Region of Scotland</td>
            <td><input id="region" value="Fife"></td>
        </tr>
    </table>
    <h4><strong>*</strong> &#61; Mandatory Field</h4>
    <hr style="border-top: 0.2rem solid gray">
</div>
<div id="vote">
    <h2>Vote</h2>
    <table>
        <tr>
            <td>
                <select id="candidates">
                    <option>Empty</option>
                </select>
            </td>
            <td>
                <button type="button" onclick="voteForCandidate()">Vote for</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" onclick="retractVote()">Retract Vote</button>
            </td>
            <td>
                <button type="button" onclick="showVote()">Show Vote</button>
            </td>
        </tr>
    </table>
    <pre id="voteResponse" style="white-space: pre-wrap"></pre>
</div>

<script type="text/javascript" src="/static/javascript/voter.js"></script>
</body>
</html>